[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
	branch = main
[submodule "challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/challenges.git
[submodule "containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/containers.git
[submodule "docs_chain"]
	path = submodules/docs_chain
	url = git@github.com:vasic-digital/docs_chain.git
[submodule "helix_qa"]
	path = submodules/helix_qa
	url = git@github.com:HelixDevelopment/helixqa.git
[submodule "panoptic"]
	path = submodules/panoptic
	url = git@github.com:vasic-digital/Panoptic.git
[submodule "doc_processor"]
	path = submodules/doc_processor
	url = git@github.com:HelixDevelopment/DocProcessor.git
[submodule "llm_orchestrator"]
	path = submodules/llm_orchestrator
	url = git@github.com:HelixDevelopment/LLMOrchestrator.git
[submodule "llm_provider"]
	path = submodules/llm_provider
	url = git@github.com:HelixDevelopment/LLMProvider.git
[submodule "llms_verifier"]
	path = submodules/llms_verifier
	url = git@github.com:vasic-digital/LLMsVerifier.git
[submodule "security"]
	path = submodules/security
	url = git@github.com:vasic-digital/security.git
[submodule "vision_engine"]
	path = submodules/vision_engine
	url = git@github.com:HelixDevelopment/VisionEngine.git
