[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
	branch = main
[submodule "challenges"]
	path = submodules/challenges
	url = git@github.com:vasic-digital/challenges.git
[submodule "containers"]
	path = submodules/containers
	url = git@github.com:vasic-digital/containers.git
[submodule "docs_chain"]
	path = submodules/docs_chain
	url = git@github.com:vasic-digital/docs_chain.git
[submodule "helix_qa"]
	path = submodules/helix_qa
	url = git@github.com:HelixDevelopment/helixqa.git
	ignore = dirty
[submodule "panoptic"]
	path = submodules/panoptic
	url = git@github.com:vasic-digital/Panoptic.git
[submodule "doc_processor"]
	path = submodules/doc_processor
	url = git@github.com:HelixDevelopment/DocProcessor.git
[submodule "llm_orchestrator"]
	path = submodules/llm_orchestrator
	url = git@github.com:HelixDevelopment/LLMOrchestrator.git
[submodule "llm_provider"]
	path = submodules/llm_provider
	url = git@github.com:HelixDevelopment/LLMProvider.git
[submodule "llms_verifier"]
	path = submodules/llms_verifier
	url = git@github.com:vasic-digital/LLMsVerifier.git
[submodule "security"]
	path = submodules/security
	url = git@github.com:vasic-digital/security.git
[submodule "vision_engine"]
	path = submodules/vision_engine
	url = git@github.com:HelixDevelopment/VisionEngine.git
[submodule "submodules/helix_core"]
	path = submodules/helix_core
	url = git@github.com:vasic-digital/helix_core.git
[submodule "submodules/helix_edge"]
	path = submodules/helix_edge
	url = git@github.com:vasic-digital/helix_edge.git
[submodule "submodules/helix_proto"]
	path = submodules/helix_proto
	url = git@github.com:vasic-digital/helix_proto.git
[submodule "submodules/helix_ui"]
	path = submodules/helix_ui
	url = git@github.com:vasic-digital/helix_ui.git
[submodule "submodules/helix_design"]
	path = submodules/helix_design
	url = git@github.com:vasic-digital/helix_design.git
[submodule "submodules/helix_go"]
	path = submodules/helix_go
	url = git@github.com:vasic-digital/helix_go.git
[submodule "submodules/helix_transport"]
	path = submodules/helix_transport
	url = git@github.com:vasic-digital/helix_transport.git
[submodule "submodules/helix_shims"]
	path = submodules/helix_shims
	url = git@github.com:vasic-digital/helix_shims.git
[submodule "submodules/open-design"]
	path = submodules/open-design
	url = git@github.com:nexu-io/open-design.git
	branch = main
